@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contato{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(pexels-eberhard-grossgasteiger-1612351.jpg);
    background-size:cover;
    background-position: center center;
}

.contato .conteudo{
    max-width: 800px;
    text-align: center;
}

.contato .conteudo h2{
    font-size: 36px;
    font-weight: 500;
    color:#fff;
}

.contato .conteudo p{
    font-weight: 300;
    color:#fff;
}

.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 30px;
}

.container .contatoinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contatoinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contatoinfo .box .icone{
    min-width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.container .contatoinfo .box .texto{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 300;
}

.container .contatoinfo .box .texto h3{
    font-weight: 500;
    color: #00bcd4;
}

.formadecontato{
    width: 40%;
    padding: 40px;
    background:#fff;
}

.formadecontato h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.formadecontato .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.formadecontato .inputbox input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.formadecontato .inputbox span{
    position: absolute;
    left: 0;
    padding:  5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition:0.5s;
    color: #666;
}

.formadecontato .inputbox input:focus ~ span,
.formadecontato .inputbox textarea:focus ~ span{

    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.formadecontato .inputbox input:valid ~ span,
.formadecontato .inputbox textarea:valid ~ span{
    color: blue;
}

.formadecontato .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contato{
        padding: 50px;
    }

    .container{
        flex-direction: column;
    }

    .container .contatoinfo{
        margin-bottom: 40px;
        width: 100%;
    }

    .container .formadecontato{
        width: 100%;
    }
}